.btn-testing {
    border: 1px solid black;
    padding: 0 1rem .25rem 1rem;
    border-radius: .3rem;
    transition: .2s all ease;
}

.btn-testing:hover {
    background-color: black;
    color: white;
    transition: .2s all ease;
}